<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Furry Friends Tours</title>
  <%= stylesheet_link_tag 'reset.css', 'fft.css' %>
  </head>

  <body>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16687185-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <div id='container'>
      <div id='content' <%= @hide_navbar ? "style='margin-top: 110px'" : '' %>>
        <div id='top'>&nbsp;</div>
          <div id='navbar'>
            <div id='logo'>
              <%= image_tag 'logo.png' %>
            </div>
          </div>
          <%= yield %>
          <%= image_tag 'thinspacer.png', :class => 'thinspacer' %>
        <%= image_tag 'spacer.png', :class => 'spacer' %>
        <div id='footer'>
          <div id='copyright'>&copy; 2013 Furry Friends Tours</div>
        </div>
        <div id='bottom'>&nbsp;</div>
      </div>

    </div>
  </body>
</html>
