<div class='images'>
  <%= image_tag 'postcard.png', :id => 'postcard', :alt => 'Furry Friends Tours Inc.' %>
  <%= image_tag 'vacations.png', :id => 'vacations', :alt => 'Teddy Bear Vacations' %>
</div>
<%= image_tag 'thinspacer.png', :class => 'thinspacer' %>
<%= image_tag 'header.png', :alt => 'Send your furry friend on a vacation', :size => '512x49'%>
<div style='height: 540px;'>
  <div style='float: right; position: relative; top: -40px;'>
    <%= image_tag('pics.png', :size => '306x565') %>
  </div>
  <div style='float: left; width: 470px;'>
    <h3>New York City: all it needs is your teddy bear.</h3>
    <p>Furry Friends Tours specializes in tours for teddy bears. We offer the ultimate in luxurious,
      culture-filled getaways for your stuffed animals. Your teddy will keep you up-to-date
      on his exiting adventures; he'll send you postcards of his journeys in the Big Apple.
      Afterwards, he'll return to you relaxed and happy, with a whole digital picture album of his vacation
      and a souvenir!
    </p>
    <h3>Choose from four amazing tours!</h3>
    <p>Find the tour that's perfect for your furry friend.
      Whether you want to give him a nice walk around Central Park, or send her to see the the theaters on Broadway, or perhaps
      eat some dumplings in Chinatown, we have a tour that will provide an irreplaceable and amazing experience.
    </p>
    <h3>Give your furry friend an unforgettable experience.</h3>
    <script language=Javascript type=text/javascript>
    <!--
    document.write('<a href="mai');
    document.write('lto');
    document.write(':&#105;&#110;&#102;&#111;');
    document.write('@');
    document.write('&#102;&#117;&#114;&#114;&#121;&#102;&#114;&#105;&#101;&#110;&#100;&#115;&#116;&#111;&#117;&#114;&#115;&#46;&#99;&#111;&#109;"><img src=<%= image_path("book_a_tour.jpg") %> alt="Book a tour now!" /><\/a>');
    // -->
    </script>
  </div>
</div>
